<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <!---Kendo CSS--->
        <link href="@Url.Content("~/KendoUI/content/shared/styles/examples-offline.css")" rel="stylesheet" />
        <link href="@Url.Content("~/KendoUI/styles/kendo.common.min.css")" rel="stylesheet" />
        @*<link href="@Url.Content("~/KendoUI/styles/kendo.moonlight.min.css")" rel="stylesheet" type="text/css" />*@
        <link href="@Url.Content("~/KendoUI/styles/kendo.default.min.css")" rel="stylesheet" type="text/css" />
        <!---End of Kendo CSS--->
        <!---Kendo JS--->
        <script src="@Url.Content("~/KendoUI/js/jquery.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/KendoUI/js/kendo.web.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/KendoUI/js/kendo.vi-VN.js")" type="text/javascript"></script>   
        <script type="text/javascript" src="@Url.Content("~/js/tinymce.min.js")"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#menu").kendoMenu();
                
            });
            //ini menu
    </script>
        <style type="text/css">
            #header{width:100%; height:127px; background:#fff url(@Url.Content("~/Images/bg_l.jpg")) 0 100% no-repeat}
		    #header img{display:block;}
            #footer{width:100%; background:#ef8710; border-top:#000 solid 1px; padding:10px 0; text-align:center; font-size:1.1em; height:50px;}
		    #footer p{color:#fff; text-align:center;}
		    #footer a{color:#fff;}
        </style>
    </head>
    <body>
        <div id="header">
            <a href="http://www.ava.vn" target="_blank"><img src="@Url.Content("~/Images/bg_r.png")" alt="" style="position:absolute; right:0" /></a>
        </div>
        <ul id="menu">
            <li><a href="@Url.Action("Index", "Article")">QUẢN LÝ BÀI VIẾT</a></li>
            <li><a href="@Url.Action("Index", "Room")">QUẢN LÝ PHÒNG</a></li>
            <li><a href="@Url.Action("RestaurantIndex", "Room")">NHÓM NHÀ HÀNG & DỊCH VỤ</a></li>
            <li><a href="@Url.Action("BookLimited", "Room")">GIỚI HẠN ĐẶT PHÒNG</a></li>
            <li>THÔNG TIN ĐẶT PHÒNG
                <ul>
                    <li><a href="@Url.Action("BookMeeting", "Room")">PHÒNG HỌP</a></li>
                    <li><a href="@Url.Action("BookRoom", "Room")">PHÒNG NGHỈ</a></li>
                </ul>
            </li>
            @{if (Request.IsAuthenticated && Session["VietSovPetroAdmin"] != null)
              {
                <li style="float: right"><a href="@Url.Action("LogOff", "Account")">Thoát</a></li> 
                <li style="float: right"><a href="@Url.Action("ChangePassword", "Account")">Đổi mật khẩu</a></li> 
                <li style="float: right"><a href="@Url.Action("Register", "Account")">Tạo tài khoản</a></li> 
                <li style="float: right">Welcome @User.Identity.Name</li> 
              }
              else
              {
                <li style="float: right"><a href="@Url.Action("Login", "Account")">Đăng nhập</a></li>
              }
            }
        </ul>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">
        <p>Copyright 2009- 2012 <a href="http://www.ava.vn/">AvaCMS 2.0.0 build 3009</a>. All rights reserved.</p>
        </div>
    </body>
</html>
@RenderSection("Scripts", required: false)