@using VietSovPetro.Core.Common;
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Vietsovpetro</title>
<link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
<link href="@Url.Content("~/css/jquery-ui-1.8.16.custom.css")" rel="stylesheet" />
<script src="@Url.Content("~/js/jquery-1.4.3.min.js")" type="text/javascript"></script> 
<script src="@Url.Content("~/js/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script> 
<script src="@Url.Content("~/js/jquery-ui-timepicker-addon.js")" type="text/javascript"></script> 
<script type="text/javascript">
    $(document).ready(function () {
        $('#ngay, #ngay1').datepicker({
            dateFormat: "dd-mm-yy",
            showOn: "button",
            buttonImage: '@Url.Content("~/images/calendar.jpg")',
            buttonImageOnly: true
        });
    })
</script>
</head>
<body>
    <div class="index">
        <div class="in-content">
            <div class="in-header">
                <div class="header">
                    <div class="logo">
                        <a href="@Url.Action("VietSovPetro")">
                            <img src="@Url.Content("~/images/logo.png")" alt="" /></a>
                    </div>
                    <div class="menu-A">
                        <ul>
                            <li>@Html.LanguageSelectorLink("vi-VN", Url.Content("~/images/vn.jpg"), null)</li>
                            <li>@Html.LanguageSelectorLink("en-US", Url.Content("~/images/en.jpg"), null)</li>
                            <li>@Html.LanguageSelectorLink("ru-RU", Url.Content("~/images/ru.jpg"), null)</li>
                        </ul>
                    </div>
                    <div class="menu-B">
                        <ul>
                            <li><a href="#">Điểm đến</a></li>
                            <li><a href="#">Đối tác</a></li>
                            <li><a href="#">Phản hồi của khách hàng</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="menu-C">
                        <ul>
                            <li class="first"><a href="@Url.Action("Introduction", "VietSovPetro")">@Resources.SR.Introduction</a></li>
                            <li><a href="@Url.Action("MeetingAndEvent", "VietSovPetro")">Phòng họp & Sự kiện</a></li>
                            <li><a href="@Url.Action("RoomAndPrice", "VietSovPetro")">Phòng & Giá phòng</a></li>
                            <li><a href="@Url.Action("Restaurant", "VietSovPetro")">Nhà hàng & Quán Bar</a></li>
                            <li><a href="#">Giá phòng khuyến mãi</a></li>
                            <li><a href="#">Khuyến mãi nhà hàng</a></li>
                            <li><a href="#">Hoạt động</a></li>
                            <li><a href="#">Tin tức</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content">
                @RenderBody()
            </div>
            <div class="in-footer">
                <div class="footer">
                    <div class="footer-1A">
                        <ul>
                            <li>
                                <p>2013 VIETSOVPETRO Resort. All rights reserved.</p>
                            </li>
                            <li><span>Địa chỉ: Xã Phước Thuận, Huyện Xuyên Mộc, Tỉnh Bà Rịa Vũng Tàu, Việt Nam</span></li>
                            <li><span>ĐT: (84.64) 3.782.266 - 67 - 68 - 69   Fax: (84.64) 3.782.255</span></li>
                            <li><span>Email: info@vietsovpetroresort.com</span></li>
                            <li><span>Website: www.vietsovpetroresort.com; www.vietsovpetroresort.vn</span></li>
                        </ul>
                    </div>
                    <div class="footer-1B">
                        <div class="fff">
                            <p>Follow us</p>
                            <ul>
                                <li><a href="#">
                                    <img src="@Url.Content("~/images/a-1.png")" alt="" /></a></li>
                                <li><a href="#">
                                    <img src="@Url.Content("~/images/a-2.png")" alt="" /></a></li>
                                <li><a href="#">
                                    <img src="@Url.Content("~/images/a-3.png")" alt="" /></a></li>
                                <li><a href="#">
                                    <img src="@Url.Content("~/images/a-4.png")" alt="" /></a></li>
                                <li><a href="#">
                                    <img src="@Url.Content("~/images/a-5.png")" alt="" /></a></li>
                                <li><a href="#">
                                    <img src="@Url.Content("~/images/a-6.png")" alt="" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@RenderSection("Scripts", required: false)