@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_LayoutFO.cshtml";
    var rooms = (List<VietSovPetro.Model.Entities.Room>)ViewBag.Restaurant;
    var language = ViewBag.Language;
    var properties = (List<VietSovPetro.Model.Entities.RoomPropertyRooms>)ViewBag.Properties;
    List<VietSovPetro.BO.ViewModels.ArticleViewModel> articles = ViewBag.RestaurantArticles;
}


<div class="banner-G">
    <div class="B-Left">
        <div class="tt-B-Left">
            <p>@Resources.SR.Restaurant_And_Bar</p>
        </div>
        <div class="cc-B-Left">
            <ul>
                <li class="tex">
                    <p>@Resources.SR.Contact_Message_Banner</p>
                </li>
                <li class="hot">
                    <ul>
                        <li>
                            <p>Điện thoại: @Resources.SR.ContactPhone</p>
                        </li>
                        <li>
                            <p>Fax: @Resources.SR.ContactFax</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="B-Right">
        <iframe src="@Url.Content("/Images/virtualTour/HomePage/Vietsovptro_homepage.html")" style="width:100%; height:100%; display:block; border:none"></iframe>
        
    </div>
</div>
@foreach (var article in articles)
{
    <div class="in-booking">
            <div class="in-booking-1">
                <div class="in-booking-2">
                    <div class="booking">
                        <div class="tit-booking"><span>@article.Title</span></div><!--tit-booking-->
                        <div class="tett">
                            @Html.Raw(HttpUtility.HtmlDecode(article.Content))
                        </div><!--tett-->
                    </div><!--booking-->
                </div><!--in-booking-2-->
            </div><!--in-booking-1-->
        </div><!--in-booking-->   
}
<div class="in-retau">
    @foreach (var room in rooms)
    {
        <!--boxRetau-->
        <div class="boxRetau">
            <div class="tt-boxRetau">
                <p>@room.RoomName</p>
            </div>
            <!--tt-boxRetau-->
            <div class="cc-boxRetau">
                <div class="thumbnailtintuc">
                    @{ 
                       if (Path.GetExtension(room.ImageUrl) == ".html")
                       {
                        <iframe src="@room.ImageUrl"  style="width:584px; height:211px; display:block; border:none;"></iframe>
                       }
                       else
                       {
                        <img src="@room.ImageUrl" alt="" style="width:200px; display:block; border:none;"/>
                       }
                    }
                </div>
                <!--thumbnailtintuc-->
                    <div class="soluoctintuc">
                        <ul>
                            @Html.Raw(HttpUtility.HtmlDecode(room.Description))
                        </ul>
                        <ul>
                            <li class="view"><a href="@Url.Action("CategoryPage", "VietSovPetro", new { categoryID = room.RoomID })" >Xem thông tin</a></li>
                        </ul>
                    </div>
                    <!--ttRetau-->
                </div>
                <!--cc-boxRetau-->
            </div>
            <!--boxRetau-->
    }
</div>
<!--in-retau-->
