@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_LayoutFO.cshtml";
    List<VietSovPetro.BO.ViewModels.ArticleViewModel> articles = ViewBag.NewsArticles;
}

<div class="banner-G">
    <div class="B-Left">
        <div class="tt-B-Left">
            <p>@Resources.SR.Room_And_Price</p>
        </div>
        <div class="cc-B-Left">
          <ul>
              <li class="tex"><p>@Resources.SR.Contact_Message_Banner</p></li>
              <li class="hot">
                  <ul>
                      <li><p>Điện thoại: @Resources.SR.ContactPhone</p></li>
                      <li><p>Fax: @Resources.SR.ContactFax</p></li>
                  </ul>
              </li>
            </ul>
        </div>
    </div>
    <div class="B-Right">
        <iframe src="@Url.Content("/Images/virtualTour/HomePage/Vietsovptro_homepage.html")" style="width:100%; height:100%; display:block; border:none"></iframe>
    </div>
</div>
<div class="in-retau">
    @if(articles.Count > 0)
    {
        foreach (var article in articles)
        {
            <!--boxRetau-->
            <div class="boxRetau">
                <div class="tt-boxRetau">
                    <p>@article.Title</p>
                </div>
                <!--tt-boxRetau-->
                <div class="cc-boxRetau">
                    <div class="thumbnailtintuc">
                        @{
                            
                            if (Path.GetExtension(article.ImageUrl) == ".html")
                            {
                                <iframe src="@article.ImageUrl"  style="width: 584px; height: 211px; display: block; border: none;"></iframe>
                            }
                            else
                            {
                                <img src="@article.ImageUrl" alt="" style="width: 200px; display: block; border: none;"/>
                            }
                        }
                    </div>
                    <!--thumbnailtintuc-->
                    <div class="soluoctintuc">
                        <ul>
                            @Html.Raw(HttpUtility.HtmlDecode(article.Description))
                        </ul>
                        <ul>
                            <li class="view"><a href="@Url.Action("DetailPage", "VietSovPetro", new { articleID = article.ArticleID })" >Xem chi tiết</a></li>
                        </ul>
                    </div>
                    <!--ttRetau-->
                </div>
                <!--cc-boxRetau-->
            </div>
            <!--boxRetau-->
        }
    }
</div>
<!--in-retau-->
