@{
    ViewBag.Title = "VietSov Petro";
    Layout = "~/Views/Shared/_LayoutFO.cshtml";
    var rooms = (List<VietSovPetro.Model.Entities.Room>)ViewBag.RoomAndPrices;
    List<VietSovPetro.BO.ViewModels.ArticleViewModel> rarticles = ViewBag.DealingRestaurantArticles;
}

<div class="homeFlash" style=" height:559px;">
            <iframe src="@Url.Content("/Images/virtualTour/HomePage/intro.html")" style="width:100%; height:100%; display:block; border:none"></iframe>
</div>

<div class="in-retau">
    @if(rarticles.Count > 0)
    {
        foreach (var article in rarticles)
        {
            <!--boxRetau-->
            <div class="boxRetau">
                <div class="tt-boxRetau">
                    <p>@article.Title</p>
                </div>
                <!--tt-boxRetau-->
                <div class="cc-boxRetau">
                    <div class="picRetau">
                        @{
                            
                            if (Path.GetExtension(article.ImageUrl) == ".html")
                            {
                                <iframe src="@article.ImageUrl"  style="width: 584px; height: 211px; display: block; border: none;"></iframe>
                            }
                            else
                            {
                                <img src="@article.ImageUrl" alt="" style="width: 584px; height: 211px; display: block; border: none;"/>
                            }
                        }
                    </div>
                    <!--picRetau-->
                    <div class="ttRetau">
                        <ul>
                            @Html.Raw(HttpUtility.HtmlDecode(article.Description))
                        </ul>
                        <ul>
                            <li class="view"><a href="@Url.Action("DetailPage", "VietSovPetro", new { articleID = article.ArticleID })" >Xem chi tiết</a></li>
                        </ul>
                    </div>
                    <!--ttRetau-->
                </div>
                <!--cc-boxRetau-->
            </div>
            <!--boxRetau-->
        }
    }
</div>
<!--in-retau-->
<div class="in-Hotel">
    <div id="boxs">
        @foreach (var room in rooms)
        {            
            <div class="boxHotel">
                <div class="tt-boxHotel"><a href="#">@room.RoomName (Số lượng: @room.Quantity)</a></div>
                <!--tt-boxHotel-->
                <div class="cc-boxHotel">
                    <div class="picHotel">
                        @{ 
                            if (Path.GetExtension(room.ImageUrl) == ".html")
                            {
                                <iframe src="@room.ImageUrl" style="width:400px; height:199px; display:block; border:none;"></iframe>
                            }
                            else
                            {
                                <img src="@room.ImageUrl" alt="" style="width:400px; height:199px; display:block; border:none;"/>
                            }
                        }
                    </div>
                    <!--picHotel-->
                    <div class="conHotel-1">
                    @Html.Raw(HttpUtility.HtmlDecode(room.Description))
                    @*<ul><li class="view"><a href="#" onclick="gotoBooking('@room.RoomID'); return false;">Booking</a></li></ul>*@
                </div>
                <!--conHotel-1-->
                <div class="conHotel-2">
                    @Html.Raw(HttpUtility.HtmlDecode(room.Detail))
                </div>
                <!--conHotel-2-->
                </div>
                <!--cc-boxHotel-->
            </div>
        }
    </div>
    @*<p>GIÁ PHÒNG ĐÃ BAO GỒM:</p>
    <span>-	10% VAT và 5% phí phục vụ. Buffet sáng, phòng tập thể thao đa năng, hồ bơi, thư viện.</span><span>-	Giờ nhận phòng: 14h00, trả phòng: 12h00.</span><span>-	Trả phòng trễ: Sau 12h00 phụ thu 10% giá phòng/giờ, sau 17h tính bằng 100% giá phòng.</span><span>-	Trẻ em từ 1-5 tuổi ở chung với ba mẹ miễn phí tiền phòng bao gồm ăn sáng (không yêu cầu thêm giường phụ).</span><span>-	Trẻ em từ 6-11 tuổi miễn phí tiền phòng (Không yêu cầu thêm giường phụ) tính 50% giá vé ăn sáng.</span><span>-	Trẻ em từ 12 tuổi trở lên tính như người lớn.</span><span style="padding-bottom: 10px;">-	Giá vé buffet sáng (khách mua thêm): 10.00 $/người lớn; 7.00 $/trẻ em.</span>*@
   
</div>
<!--in-Hotel-->