@{
    ViewBag.Title = Resources.SR.Introduction;
    Layout = "~/Views/Shared/_LayoutFO.cshtml";
    List<VietSovPetro.BO.ViewModels.ArticleViewModel> articles = ViewBag.IntroductionArticles;
}

<div class="banner-G">
    <div class="B-Left">
        <div class="tt-B-Left">
            <p>@Resources.SR.Room_And_Price</p>
        </div>
        <div class="cc-B-Left">
          <ul>
              <li class="nut"><a href="@Url.Action("RoomAndPrice", "VietSovPetro")">Đặt phòng nhanh</a></li>
              <li class="tex"><p>@Resources.SR.Contact_Message_Banner</p></li>
              <li class="hot">
                  <ul>
                      <li><p>Điện thoại: (84.64) 3.782.256</p></li>
                      <li><p>Fax: @Resources.SR.ContactFax</p></li>
                  </ul>
              </li>
            </ul>
        </div>
    </div>
    <div class="B-Right">
        <iframe src="@Url.Content("/Images/virtualTour/HomePage/Vietsovptro_homepage.html")" style="width:100%; height:100%; display:block; border:none"></iframe>
    </div>
</div>
@foreach (var article in articles)
{
    <div class="in-booking">
            <div class="in-booking-1">
                <div class="in-booking-2">
                    <div class="booking">
                        <div class="tit-booking"><span>@article.Title</span></div><!--tit-booking-->
                        <div class="tett">
                            @Html.Raw(HttpUtility.HtmlDecode(article.Content))
                        </div><!--tett-->
                    </div><!--booking-->
                </div><!--in-booking-2-->
            </div><!--in-booking-1-->
        </div><!--in-booking-->   
}