@{
    ViewBag.Title = "MeetingAndEvent";
    Layout = "~/Views/Shared/_LayoutFO.cshtml";
    var rooms = (List<VietSovPetro.Model.Entities.Room>)ViewBag.MeetingAndEventRooms;
    var properties = (List<VietSovPetro.Model.Entities.RoomPropertyRooms>)ViewBag.Properties;
}                
@model VietSovPetro.BO.ViewModels.BookViewModel
<script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var name = new LiveValidation("Name");
        name.add(Validate.Presence, { failureMessage: "" });
        var tel = new LiveValidation("Tel");
        tel.add(Validate.Presence, { failureMessage: "" });
        var email = new LiveValidation("Email");
        email.add(Validate.Presence, { failureMessage: "" });
        email.add(Validate.Email);
        var begin = new LiveValidation("ngay");
        begin.add(Validate.Presence, { failureMessage: "" });
        var end = new LiveValidation("ngay1");
        end.add(Validate.Presence, { failureMessage: "" });
        $("#submitBooking").click(function () {
            var frm = $('#bookingform');
            if(LiveValidation.massValidate( [ name, email, begin, end, tel ] )) {
                $("#loading").show();
                $("#submitBooking").hide();
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        alert(data);
                        $('#bookingform')[0].reset();
                        $("#loading").hide();
                        $("#submitBooking").show();
                    }
                });
            }
        });
        $("#search").click(function (e) {
            $.ajax({
                type: 'POST',
                url: '/vietsovpetro/_RoomFilter?begin=' + $("#beginday").val() + '&end=' + $("#endday").val() + '&roomTypeID=11111111-1111-1111-1111-111111111111',
                success: function (data) {
                    $(".boxHotel").remove();
                    $("#boxs").append(data);
                }
            });
        });
    });
    function gotoBooking(id)
    {
        var url = "/vietsovpetro/booking?RoomID=" + id + "&checkin=" + $("#beginday").val() + "&checkout=" + $("#endday").val();
        window.open(url, '_blank');
    }
</script>
<div class="banner-G">
    <div class="B-Left-1">
        <div class="tt-B-Left">
            <p>@Resources.SR.Quick_Reservation</p>
        </div>                   
         <form id="bookingform" action="@Url.Action("QuickBook")" method="post" >
        <!--tt-B-Left-->
        <div class="cc-B-Left-1">
          <ul>
                <li>
                    <p>@Resources.SR.Name</p>
                    <div style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" id="Name" name="Name" style="border: 1px solid; width: 129px; float: left; height: 22px; font-size: 14px;">
                    </div>
                </li>
                <li>
                    <p>@Resources.SR.Email</p>
                    <div style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" id="Email" name="Email" style="border: 1px solid; width: 129px; float: left; height: 22px; font-size: 14px;">
                    </div>
                </li>
                <li>
                    <p>@Resources.SR.Tel</p>
                    <div style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" id="Tel" name="Tel" style="border: 1px solid; width: 129px; float: left; height: 22px; font-size: 14px;">
                    </div>
                </li>
                <li>
                    <p>@Resources.SR.Room</p>
                    <select onchange="GotoURL(this)" class="form" name="RoomID" style="float: left; width: 130px; height: 22px; border: none; margin-top: 2px; font-size: 14px;">
                        @foreach (var room in rooms)
                        {
                            <option value="@room.RoomID">@room.RoomName</option>
                        }
                    </select>
                </li>
                <li>
                    <p>@Resources.SR.Start_Date</p>
                    <div style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" id="ngay" name="Begin" style="border: 1px solid; width: 129px; float: left; height: 22px; font-size: 14px;">
                    </div>
                </li>
                <li>
                    <p>@Resources.SR.End_Date</p>
                    <div style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" id="ngay1" name="End" style="border: 1px solid; width: 129px; float: left; height: 22px; font-size: 14px;">
                    </div>
                </li>
                <li>
                    <p>@Resources.SR.Duration</p>
                    <select onchange="GotoURL(this)" class="form" name="Time" style="float: left; width: 130px; height: 22px; border: none; margin-top: 2px; font-size: 14px;">
                        <option value="Nguyên ngày">@Resources.SR.Full_Day</option>
                        <option value="Nửa ngày">@Resources.SR.Half_Day</option>
                    </select>
                </li>
                <li>
                    <p>@Resources.SR.Number_Of_Guest</p>
                    <select onchange="GotoURL(this)" class="form" name="GuestQuantity" style="float: left; width: 130px; height: 22px; border: none; margin-top: 2px; font-size: 14px;">
                        <option value="500 - 1000">500 - 1000</option>
                        <option value="400 - 500">400 - 500</option>
                        <option value="300 - 400">300 - 400</option>
                        <option value="200 - 300">200 - 300</option>
                        <option value="100 - 200">100 - 200</option>
                        <option value="10 - 100">10 - 100</option>
                    </select>
                </li>
                <li>
                    <p>@Resources.SR.Kind_Of_Meeting</p>
                    <div style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" name="MeetingType" style="border: none; width: 129px; float: left; height: 22px; font-size: 14px;">
                    </div>
                </li>
                <li>
                    <p>@Resources.SR.Price</p>
                    <select onchange="GotoURL(this)" class="form" name="Price" style="float: left; width: 130px; height: 22px; border: none; margin-top: 2px; font-size: 14px;">
                        <option value="Giá trọn gói">@Resources.SR.Package_Price</option>
                        <option value="Giá sự cố">@Resources.SR.Breakdown_Price</option>
                    </select>
                </li>
              <li>
                  <p>@Resources.SR.Message</p>
                  <div style="width: 130px; height: auto; float: left; margin-top: 2px;">
                      <input type="text" name="Message" style="border: none; width: 129px; float: left; height: 22px; font-size: 14px;">
                      <input type="button" id="submitBooking" style="width: 64px; height: 22px; border: none; float: right; background: url(@Url.Content("~/images/icon-5.png")) no-repeat; margin-right: 1px; margin-top: 15px;cursor:pointer;" />
                      <img id="loading" style="display: none; margin-top: 20px;" src="@Url.Content("~/images/sending.gif")" alt="" />
                  </div>
              </li>
            </ul>
        </div>
        <!--cc-B-Left-1-->    

        </form>
    </div>
    <!--B-Left-1-->
    <div class="B-Right-1">
        <iframe src="@Url.Content("~/images/virtualTour/conferenceHall/ConferenceHall.html")" style="width:100%; height:100%; display:block; padding:0; border:none;"></iframe>
        <div class="fullscreen">
            <a href="#" style="display: block;">
                <img src="@Url.Content("~/images/fullsceen.png")" alt="" /></a>
        </div>
    </div>
    <!--B-Right-1-->
</div>
<!--banner-G-->
<div class="in-Hotel">
    @*<div style="width: 100%;margin-bottom: 10px;height: 50px">
        <table class="search">
            <tr>
                <td><p>@Resources.SR.Start_Date</p></td>
                <td style="width: 140px">
                    <input type="text" id="beginday" name="Begin" style="border: 1px solid; width: 129px; float: left; height: 16px; font-size: 11px;">
                </td>
                <td><p>@Resources.SR.End_Date</p></td>
                <td style="width: 140px">
                    <input type="text" id="endday" name="End" style="border: 1px solid; width: 129px; float: left; height: 16px; font-size: 11px;">
                </td>
                <td>
                    <img id="search" src="~/Images/search.png" style="max-width: 25px;cursor:pointer;"/>
                </td>
            </tr>
        </table>
        </div>*@
    <div id="boxs">
    @foreach (var room in rooms)
    {   
        <div class="boxHotel">
            <div class="tt-boxHotel"><a href="#">@room.RoomName (Số lượng: @room.Quantity)</a></div>
            <!--tt-boxHotel-->
            <div class="cc-boxHotel">
                <div class="picHotel">
                    <a href="#">
                        @{ 
                           if (Path.GetExtension(room.ImageUrl) == ".html")
                           {
                            <iframe src="@room.ImageUrl"  style="width:400px; height:199px; display:block; border:none;"></iframe>
                           }
                           else
                           {
                            <img src="@room.ImageUrl" alt="" style="width:400px; height:199px; display:block; border:none;"/>
                           }
                        }
                    </a>
                </div>
                <!--picHotel-->
                <div class="conHotel-1">
                    @Html.Raw(HttpUtility.HtmlDecode(room.Description))
                    @*<ul><li class="view"><a href="#" onclick="gotoBooking('@room.RoomID'); return false;">Booking</a></li></ul>*@
                </div>
                <!--conHotel-1-->
                <div class="conHotel-2">
                    @Html.Raw(HttpUtility.HtmlDecode(room.Detail))
                </div>
                <!--conHotel-2-->
            </div>
            <!--cc-boxHotel-->
        </div>
    }
        </div>
</div>
<!--in-Hotel-->
