@{
    ViewBag.Title = "Restaurant";
    Layout = "~/Views/Shared/_LayoutFO.cshtml";
    var rooms = (List<VietSovPetro.Model.Entities.Room>)ViewBag.Restaurant;
    var language = ViewBag.Language;
    var properties = (List<VietSovPetro.Model.Entities.RoomPropertyRooms>)ViewBag.Properties;
}


<div class="banner-G">
    <div class="B-Left">
        <div class="tt-B-Left">
            <p>NHÀ HÀNG &amp; QUÁN BAR</p>
        </div>
        <div class="cc-B-Left">
            <ul>
                <li class="tex">
                    <p>Xin vui lòng gọi điện thoại hoặc gửi email cho chúng tôi để đặt phòng. Chúng tôi hân hạnh được phục vụ bạn.</p>
                </li>
                <li class="hot">
                    <ul>
                        <li>
                            <p>Điện thoại: (84.64) 3.782.256</p>
                        </li>
                        <li>
                            <p>Fax: (84.64) 3.782.255</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="B-Right">
        <iframe src="@Url.Content("~/virtualTour/mainRestaurant/mainRestaurant.html")" style="width:100%; height:100%; display:block; border:none"></iframe>
        <div class="fullscreen"><a href="#" style="display: block;">
            <img src="@Url.Content("~/images/fullsceen.png")" alt="" /></a></div>
    </div>
</div>
<div class="in-retau">
    <div class="boxRetau">
        <p style="display: block; color: #d99b75; line-height: 18px; text-align: justify;">Nhằm đáp ứng một cách hoàn hảo nhất cho nhu cầu ẩm thực, thư giãn của du khách, Khu nghỉ dưỡng Vietsovpetro có nhiều nhà hàng với hàng loạt các đầu bếp và chuyên gia pha chế giỏi, nhân viên phục vụ tận tình, chuyên nghiệp.</p>
        <p style="display: block; color: #d99b75; line-height: 18px; text-align: justify; margin-top: 5px;">Không những thế, hầu hết các nhà hàng và quầy bar tại Khu nghỉ dưỡng Vietsovpetro đều có khung cảnh tuyệt đẹp nhìn ra biển và hồ bơi. Mỗi nhà hàng và quầy bar tại đây có một phong vị khác nhau nhằm đa dạng hóa sở thích và nhu cầu tìm hiểu ẩm thực cho du khách.</p>
    </div>
    @foreach (var room in rooms)
    {
        <!--boxRetau-->
        <div class="boxRetau">
            <div class="tt-boxRetau">
                <p>@room.RoomName</p>
            </div>
            <!--tt-boxRetau-->
            <div class="cc-boxRetau">
                <div class="picRetau">
                    @{ var fileInfo = new FileInfo(room.ImageUrl == "" ? ".jpg" : room.ImageUrl);
                       if (fileInfo.Extension == ".html")
                       {
                        <iframe src="@Url.Content("~/Images/" + room.ImageUrl)"  style="width:400px; height:199px; display:block; border:none;"></iframe>
                       }
                       else
                       {
                        <img src="@Url.Content("~/Images/" + room.ImageUrl)" alt="" style="width:400px; height:199px; display:block; border:none;"/>
                       }
                    }
                </div>
                <!--picRetau-->
                <div class="ttRetau">
                    <ul>
                        <li class="tit"><a href="#">@room.RoomName</a></li>
                        <li class="con">
                            <ul>
                                @foreach (var detail in properties.Where(r => r.RoomProperty.RoomPropertyType == "Detail" && r.IsDeleted != true && r.IsPublished ))
                                {
                                    <li>
                                        <p>@detail.RoomProperty.RoomPropertyName: @detail.RoomPropertyNumberValue @detail.RoomProperty.Unit</p>
                                    </li>
                                }
                                @foreach (var price in properties.Where(r => r.RoomProperty.RoomPropertyType == "Price" && r.IsDeleted != true && r.IsPublished ))
                                {
                                    <li>
                                        <p>@price.RoomProperty.RoomPropertyName: @price.RoomPropertyNumberValue @price.RoomProperty.Unit</p>
                                    </li>
                                }
                                @foreach (var property in properties.Where(r => r.RoomProperty.RoomPropertyType == "Property" && r.IsDeleted != true && r.IsPublished ))
                                {
                                    <li>
                                        <p>@property.RoomProperty.RoomPropertyName: @property.RoomPropertyStringValue @property.RoomProperty.Unit</p>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="view"><a href="#">Xem Menu</a></li>
                    </ul>
                </div>
                <!--ttRetau-->
            </div>
            <!--cc-boxRetau-->
        </div>
        <!--boxRetau-->
    }
</div>
<!--in-retau-->

