@{
    ViewBag.Title = "RoomAndPrice";
    Layout = "~/Views/Shared/_LayoutFO.cshtml";
    List<VietSovPetro.Model.Entities.Room> rooms = (List<VietSovPetro.Model.Entities.Room>)ViewBag.RoomAndPrices;
}

<div class="banner-G">
    <div class="B-Left">
        <div class="tt-B-Left">
            <p>Phòng &amp; Giá phòng</p>
        </div>
        <div class="cc-B-Left">
          <ul>
              <li class="nut"><a href="#">Đặt phòng nhanh</a></li>
              <li class="tex"><p>Xin vui lòng gọi điện thoại hoặc gửi email cho chúng tôi để đặt phòng. Chúng tôi hân hạnh được phục vụ bạn.</p></li>
              <li class="hot">
                  <ul>
                      <li>
                        <p>Điện thoại: (84.64) 3.782.266<br />
                        (84.64) 3.782.267<br />
                        </p></li>
                      <li><p>Fax: (84.64) 3.782.255</p></li>
                  </ul>
              </li>
            </ul>
        </div>
    </div>
    <div class="B-Right">
        <iframe src="@Url.Content("~/virtualTour/president/bedRoom/bedRoom.html")" style="width:100%; height:100%; display:block; border:none"></iframe>
        <div class="fullscreen"><a href="#" style="display:block;"><img src="@Url.Content("~/images/fullsceen.png")" alt="" /></a></div>
    </div>
</div>
<div class="in-Hotel">
    @foreach(var room in rooms)
    {              
  <div class="boxHotel">
    <div class="tt-boxHotel"><a href="#">@room.RoomName</a></div>
    <!--tt-boxHotel-->
    <div class="cc-boxHotel">
      <div class="picHotel"><iframe src="@Url.Content("~/Images/" + room.ImageUrl)" style="width:400px; height:199px; display:block; border:none;"></iframe></div>
      <!--picHotel-->
      <div class="conHotel-1">
        <ul>
          <li>
            <p><strong>Loại Phòng: @foreach(var roomtype in room.RoomTypes){ @roomtype.RoomTypeName }</strong></p>
          </li>
            @foreach(var detail in room.RoomProperties.Where(r => r.RoomPropertyType == "Detail" && r.IsDeleted != true && r.IsPublished == true))
                    {
                        <li><p>@detail.RoomPropertyName: @detail.RoomPropertyNumberValue @detail.Unit</p></li>
                    }
             @foreach(var price in room.RoomProperties.Where(r => r.RoomPropertyType == "Price" && r.IsDeleted != true && r.IsPublished == true))
                    {
                        <li><p>@price.RoomPropertyName: @price.RoomPropertyNumberValue @price.Unit</p></li>
                    }
        </ul>
      </div>
      <!--conHotel-1-->
      <div class="conHotel-2">
        <ul>
          <li>
            <p style="font-weight:bold; text-decoration:underline;">Chi tiết:</p>
          </li>
          @foreach(var property in room.RoomProperties.Where(r => r.RoomPropertyType == "Property" && r.IsDeleted != true && r.IsPublished == true))
                    {
                        <li><p>@property.RoomPropertyName: @property.RoomPropertyStringValue @property.Unit</p></li>
                    }
        </ul>
      </div>
      <!--conHotel-2-->
    </div>
    <!--cc-boxHotel-->
  </div>
    }
  <p>GIÁ PHÒNG ĐÃ BAO GỒM:</p>
  <span>-	10% VAT và 5% phí phục vụ. Buffet sáng, phòng tập thể thao đa năng, hồ bơi, thư viện.</span><span>-	Giờ nhận phòng: 14h00, trả phòng: 12h00.</span><span>-	Trả phòng trễ: Sau 12h00 phụ thu 10% giá phòng/giờ, sau 17h tính bằng 100% giá phòng.</span><span>-	Trẻ em từ 1-5 tuổi ở chung với ba mẹ miễn phí tiền phòng bao gồm ăn sáng (không yêu cầu thêm giường phụ).</span><span>-	Trẻ em từ 6-11 tuổi miễn phí tiền phòng (Không yêu cầu thêm giường phụ) tính 50% giá vé ăn sáng.</span><span>-	Trẻ em từ 12 tuổi trở lên tính như người lớn.</span><span style="padding-bottom:10px;">-	Giá vé buffet sáng (khách mua thêm): 10.00 $/người lớn; 7.00 $/trẻ em.</span></div>
<!--in-Hotel-->
