@{
    ViewBag.Title = "DealingRoom";
    Layout = "~/Views/Shared/_LayoutFO.cshtml";
    var rooms = (List<VietSovPetro.Model.Entities.Room>)ViewBag.DealingRoom;
    var language = ViewBag.Language;
    var properties = (List<VietSovPetro.Model.Entities.RoomPropertyRooms>)ViewBag.Properties;
    List<VietSovPetro.BO.ViewModels.ArticleViewModel> articles = ViewBag.RoomArticles;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#search").click(function (e) {
            $("#loadingsearch").show();
            $("#search").hide();
            $.ajax({
                type: 'POST',
                url: '/vietsovpetro/_RoomFilter?begin=' + $("#beginday").val() + '&end=' + $("#endday").val() + '&roomTypeID=22222222-2222-2222-2222-222222222222' + '&IsDeal=true',
                success: function(data) {
                    $(".boxHotel").remove();
                    $("#boxs").append(data);
                    $("#loadingsearch").hide();
                    $("#search").show();
                }
            });
        });
    });
    function gotoBooking(id)
    {
        var url = "/vietsovpetro/booking?RoomID=" + id + "&checkin=" + $("#beginday").val() + "&checkout=" + $("#endday").val();
        window.open(url, '_blank');
    }
</script>
<div class="banner-G">
    <div class="B-Left-1">
        <div class="tt-B-Left">
            <p>@Resources.SR.Quick_Reservation</p>
        </div>           
        <div class="cc-B-Left" style="height: 410px; background-size: 266px 410px;">
            <ul>
                <li class="tex">
                    <p>Xin vui lòng gọi điện thoại hoặc gửi email cho chúng tôi để đặt phòng. Chúng tôi hân hạnh được phục vụ bạn.</p>
                </li>
                <li class="hot">
                    <ul>
                        <li>
                            <p>Điện thoại: (84.64) 3.782.256</p>
                        </li>
                        <li>
                            <p>Fax: (84.64) 3.782.255</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>   
    </div>
    <!--B-Left-1-->
    <div class="B-Right-1">
        <iframe src="@Url.Content("~/images/virtualTour/president/bedRoom/bedRoom.html")" style="width:100%; height:100%; display:block; border:none"></iframe>
        <div class="fullscreen"><a href="#" style="display: block;">
            <img src="@Url.Content("~/images/fullsceen.png")" alt="" /></a></div>
    </div>
</div>
<div class="in-Hotel">
    <div style="width: 100%;margin-bottom: 10px;height: 50px">
        <table class="search">
            <tr>
                <td><p>@Resources.SR.Start_Date</p></td>
                <td style="width: 140px">
                    <input type="text" id="beginday" name="Begin" style="border: 1px solid; width: 129px; float: left; height: 16px; font-size: 11px;">
                </td>
                <td><p>@Resources.SR.End_Date</p></td>
                <td style="width: 140px">
                    <input type="text" id="endday" name="End" style="border: 1px solid; width: 129px; float: left; height: 16px; font-size: 11px;">
                </td>
                <td>
                    <img id="search" src="~/Images/search.png" style="max-width: 25px;cursor:pointer;"/>
                    <img id="loadingsearch" style="max-width: 25px; margin-bottom: 3px; display: none" src="@Url.Content("~/images/sending.gif")" alt="" />
                </td>
            </tr>
        </table>
        </div>
    <div id="boxs">
    @foreach (var room in rooms)
        {            
            <div class="boxHotel">
                <div class="tt-boxHotel"><a href="#">@room.RoomName</a></div>
                <!--tt-boxHotel-->
                <div class="cc-boxHotel">
                    <div class="picHotel">
                        @{ var fileInfo = new FileInfo(room.ImageUrl == "" ? ".jpg" : room.ImageUrl);
                            if (fileInfo.Extension == ".html")
                            {
                                <iframe src="@Url.Content("~/Images/" + room.ImageUrl)" style="width:400px; height:199px; display:block; border:none;"></iframe>
                            }
                            else
                            {
                                <img src="@Url.Content("~/Images/" + room.ImageUrl)" alt="" style="width:400px; height:199px; display:block; border:none;"/>
                            }
                        }
                    </div>
                    <!--picHotel-->
                    <div class="conHotel-1">
                    @Html.Raw(HttpUtility.HtmlDecode(room.Description))
                    @*<ul><li class="view"><a href="#" onclick="gotoBooking('@room.RoomID'); return false;">Booking</a></li></ul>*@
                </div>
                <!--conHotel-1-->
                <div class="conHotel-2">
                    @Html.Raw(HttpUtility.HtmlDecode(room.Detail))
                </div>
                <!--conHotel-2-->
                </div>
                <!--cc-boxHotel-->
            </div>
        }
        </div>
    
</div>
<!--in-Hotel-->
@foreach (var article in articles)
{
    <div class="in-booking">
            <div class="in-booking-1">
                <div class="in-booking-2">
                    <div class="booking">
                        <div class="tit-booking"><span>@article.Title</span></div><!--tit-booking-->
                        <div class="tett">
                            @Html.Raw(HttpUtility.HtmlDecode(article.Content))
                        </div><!--tett-->
                    </div><!--booking-->
                </div><!--in-booking-2-->
            </div><!--in-booking-1-->
        </div><!--in-booking-->   
}
