@{
    ViewBag.Title = "MeetingAndEvent";
    Layout = "~/Views/Shared/_LayoutFO.cshtml";
    var rooms = (List<VietSovPetro.Model.Entities.Room>)ViewBag.MeetingAndEventRooms;
    var language = ViewBag.Language;
}   
<div class="banner-G">
    <div class="B-Left-1">
        <div class="tt-B-Left">
            <p>Đặt phòng nhanh</p>
        </div>
        <!--tt-B-Left-->
        <div class="cc-B-Left-1">
            <ul>
                <li>
                    <p>Họ Tên</p>
                    <form style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" name="t" style="border: none; width: 129px; float: left; height: 16px; font-size: 11px;">
                    </form>
                </li>
                <li>
                    <p>Email</p>
                    <form style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" name="t" style="border: none; width: 129px; float: left; height: 16px; font-size: 11px;">
                    </form>
                </li>
                <li>
                    <p>Phòng</p>
                    <select onchange="GotoURL(this)" class="form" name="cboWebLink" style="float: left; width: 130px; height: 18px; border: none; margin-top: 2px; font-size: 11px;">
                        <option value="#">Conference Hall</option>
                        <option value="#">Grant Hall</option>
                        <option value="#">Conference</option>
                        <option value="#">Bạch Dương</option>
                    </select>
                </li>
                <li>
                    <p>Bắt đầu</p>
                    <form style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" id="ngay" name="t" style="border: none; width: 108px; float: left; height: 16px; font-size: 11px;">
                    </form>
                </li>
                <li>
                    <p>Kết thúc</p>
                    <form style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" id="ngay1" name="t" style="border: none; width: 108px; float: left; height: 16px; font-size: 11px;">
                    </form>
                </li>
                <li>
                    <p>Thời gian</p>
                    <select onchange="GotoURL(this)" class="form" name="cboWebLink" style="float: left; width: 130px; height: 18px; border: none; margin-top: 2px; font-size: 11px;">
                        <option value="#">Nguyên ngày</option>
                        <option value="#">Nữa ngày</option>
                    </select>
                </li>
                <li>
                    <p>Số lượng khách</p>
                    <select onchange="GotoURL(this)" class="form" name="cboWebLink" style="float: left; width: 130px; height: 18px; border: none; margin-top: 2px; font-size: 11px;">
                        <option value="#">500 - 1000</option>
                        <option value="#">400 - 500</option>
                        <option value="#">300 - 400</option>
                        <option value="#">200 - 300</option>
                        <option value="#">100 - 200</option>
                        <option value="#">10 - 100</option>
                    </select>
                </li>
                <li>
                    <p>Loại cuộc họp</p>
                    <form style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" name="t" style="border: none; width: 129px; float: left; height: 16px; font-size: 11px;">
                    </form>
                </li>
                <li>
                    <p>Giá</p>
                    <select onchange="GotoURL(this)" class="form" name="cboWebLink" style="float: left; width: 130px; height: 18px; border: none; margin-top: 2px; font-size: 11px;">
                        <option value="#">Giá trọn gói</option>
                        <option value="#">1</option>
                        <option value="#">2</option>
                        <option value="#">3</option>
                        <option value="#">4</option>
                        <option value="#">5</option>
                    </select>
                </li>
                <li>
                    <p>Tin nhắn</p>
                    <form style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" name="t" style="border: none; width: 129px; float: left; height: 16px; font-size: 11px;">
                    </form>
                </li>
            </ul>
            <div class="tt-C-Left">
                <p>Đặt phòng bằng thể tín dụng</p>
            </div>
            <!--tt-C-Left-->
            <ul>
                <li>
                    <p>Tên chủ thẻ</p>
                    <form style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" name="t" style="border: none; width: 129px; float: left; height: 16px; font-size: 11px;">
                    </form>
                </li>
                <li>
                    <p>Số thẻ</p>
                    <form style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" name="t" style="border: none; width: 129px; float: left; height: 16px; font-size: 11px;">
                    </form>
                </li>
                <li>
                    <p>Loại thẻ</p>
                    <form style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" name="t" style="border: none; width: 129px; float: left; height: 16px; font-size: 11px;">
                    </form>
                </li>
                <li>
                    <p>Ngày hết hạn</p>
                    <form style="width: 130px; height: auto; float: left; margin-top: 2px;">
                        <input type="text" name="t" style="border: none; width: 129px; float: left; height: 16px; font-size: 11px;">
                        <input type="submit" value="" style="width: 64px; height: 22px; border: none; float: right; background: url(images/icon-5.png) no-repeat; margin-right: 1px; margin-top: 6px;" />
                    </form>
                </li>
            </ul>
        </div>
        <!--cc-B-Left-1-->
    </div>
    <!--B-Left-1-->
    <div class="B-Right-1">
        <iframe src="@Url.Content("~/virtualTour/conferenceHall/ConferenceHall.html")" style="width:100%; height:100%; display:block; padding:0; border:none;"></iframe>
        <div class="fullscreen"><a href="#" style="display: block;">
            <img src="@Url.Content("~/images/fullsceen.png")" alt="" /></a></div>
    </div>
    <!--B-Right-1-->
</div>
<!--banner-G-->
<div class="in-Hotel">
    @foreach (var room in rooms)
    {   
    <div class="boxHotel">
        <div class="tt-boxHotel"><a href="#">@room.RoomName (Số lượng: @room.Quantity)</a></div>
        <!--tt-boxHotel-->
        <div class="cc-boxHotel">
            <div class="picHotel">
                <a href="#">
                    @{ var fileInfo = new FileInfo(room.ImageUrl == "" ? ".jpg" : room.ImageUrl);
                       if (fileInfo.Extension == ".html")
                       {
                           <iframe src="@Url.Content("~/Images/" + room.ImageUrl)"  style="width:400px; height:199px; display:block; border:none;"></iframe>
                       }
                       else
                       {
                           <img src="@Url.Content("~/Images/" + room.ImageUrl)" alt="" style="width:400px; height:199px; display:block; border:none;"/>
                       }
                    }
                </a>
            </div>
            <!--picHotel-->
            <div class="conHotel-1">
                <ul>
                    @foreach(var detail in room.RoomProperties.Where(r => r.RoomPropertyType == "Detail" && r.IsDeleted != true && r.IsPublished && r.LanguageCode.ToLower() == language))
                    {
                        <li><p>@detail.RoomPropertyName: @detail.RoomPropertyNumberValue @detail.Unit</p></li>
                    }
                </ul>
            </div>
            <!--conHotel-1-->
            <div class="conHotel-2">
                <ul>
                    @foreach (var price in room.RoomProperties.Where(r => r.RoomPropertyType == "Price" && r.IsDeleted != true && r.IsPublished && r.LanguageCode.ToLower() == language))
                    {
                        <li><p>@price.RoomPropertyName: @price.RoomPropertyNumberValue @price.Unit</p></li>
                    }
                    @foreach (var property in room.RoomProperties.Where(r => r.RoomPropertyType == "Property" && r.IsDeleted != true && r.IsPublished && r.LanguageCode.ToLower() == language))
                    {
                        <li><p>@property.RoomPropertyName: @property.RoomPropertyStringValue @property.Unit</p></li>
                    }
                </ul>
            </div>
            <!--conHotel-2-->
        </div>
        <!--cc-boxHotel-->
    </div>
    }
</div>
<!--in-Hotel-->
