@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="example" class="k-content">
    <div id="vertical">
        <div id="top-pane">
            
                        <div class="k-toolbar k-grid-toolbar">
                            <div class="toolbar">
                                <label class="category-label" for="category">Ngôn ngữ:</label>
                                <input type="search" id="language" style="width: 150px"/>
                                <label class="category-label" for="category">Loại:</label>
                                <input type="search" id="category" style="width: 150px"/>
                            </div>
                        </div>
            <div id="horizontal" style="height: 100%; width: 100%;">
                <div id="left-pane">
                    <div class="pane-content">
                        <p style="width: 100%; text-align: center">PHÂN LOẠI BÀI VIẾT</p>
                        <div class="article-category-list">
                            <a class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span></a>
                        </div>

                        <div class="article-category-list">
                            <div id="listView"></div>
                            <div id="pager" class="k-pager-wrap"></div>
                        </div>
                    </div>
                </div>
                <div id="right-pane">
                    <div class="pane-content">
                        <p style="width: 100%; text-align: center">QUẢN LÝ BÀI VIẾT</p>
                        <div id="article-content">
                            @*<input type="file" id="uploadimage" name="files"/>
                            <img id="aimage" />
                            <span class="articlecategoryspan"><label>Hạng mục:</label> <select id="articlecategories"></select></span>
                            <textarea id="ceditor" rows="10" cols="30" style="width:100%;height:400px">
                            </textarea>*@
                        </div>
                        <div id="grid"></div>
                        <input type="hidden" id="articlecategoryids"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/x-kendo-tmpl" id="template">
        <div class="article-category-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
                <a class="k-button k-button-icontext k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
            </div>
            <dl>
                <dt>Tên hạng mục</dt>
                <dd>#:ArticleCategoryName#</dd>
                <dt>Loại hạng mục</dt>
                <dd>#:ArticleCategoryType#</dd>
            </dl>
        </div>
    </script>

    <script type="text/x-kendo-tmpl" id="editTemplate">
        <div class="article-category-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-update-button" href="\\#"><span class="k-icon k-update"></span></a>
                <a class="k-button k-button-icontext k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span></a>
            </div>
            <dl>
                <input type="hidden" data-bind="value:ArticleCategoryID" name="ArticleCategoryID"/>
                <dt>Tên hạng mục</dt>
                <dd>
                    <input type="text" class="k-textbox" data-bind="value:ArticleCategoryName" name="ArticleCategoryName" required="required" validationMessage="không được trống" />
                    <span data-for="ArticleCategoryName" class="k-invalid-msg"></span>
                </dd>
                <dt>Loại hạng mục</dt>
                <dd>
                    <select data-role="dropdownlist" data-bind="value:ArticleCategoryType" name="ArticleCategoryType" required="required" validationMessage="không được trống">  
                       <option value="Introduction">Giới thiệu</option>  
                       <option value="News">Tin tức</option>
                       <option value="Activity">Hoạt động</option> 
                       <option value="Destination">Điểm đến</option> 
                       <option value="Partner">Đối tác</option> 
                       <option value="Feedback">Phản hồi</option> 
                       <option value="Contact">Liên hệ</option>
                    </select>
                    <span data-for="ArticleCategoryType" class="k-invalid-msg"></span>
                </dd>
                <dt>Ngôn ngữ</dt>
                <dd>
                    <select data-role="dropdownlist" data-bind="value:LanguageCode" name="LanguageCode" required="required" validationMessage="không được trống">  
                       <option value="vi-VN">Tiếng Việt</option>
                       <option value="en-US">Tiếng Anh</option>
                       <option value="ru-RU">Tiếng Nga</option>
                    </select>
                    <span data-for="ArticleCategoryType" class="k-invalid-msg"></span>
                </dd>
                <dt>Mô tả</dt>
                <dd>
                    <input type="text" class="k-textbox" data-bind="value:Description" name="Description"/>
                </dd>
            </dl>
        </div>
    </script>

    <script type="text/x-kendo-template" id="wtemplate">
                    
        <div style="width: 60%; text-align: left; float: left">
            <span class="articlecategoryspan"><label>Hạng mục:</label> <select id="articlecategories"></select></span>
            <p>MÔ TẢ</p>
            <textarea id="desc" style="width:98%;height:200px">#= Description # </textarea>
        </div>
        <div style="float:left; width: 40%">  
            <label>Ảnh chính: </label>
            <input type="text" style="display: none; width: 300px; margin-left: 5px" name="mainfilename" id="mainfilename"/>
            <img src="/Images/#= ImageUrl #" id="aimage" /><textarea id="urlimage" style="width: 70%; height: 94px; margin: 5px 3px; display: none"/>
            <div style="width: 100%"><input type="file" id="uploadimage" name="files"/></div>
        </div>
        <p style="width: 100%; text-align: left; float: left">NỘI DUNG</p>
        <textarea id="ceditor" rows="10" cols="30" style="width:100%;height:400px">#= Content #</textarea>
    </script>

    <script>
        var wnd, dataItem, articleCategoryDataSource;

        $(document).ready(function () {
            //article category list view
            articleCategoryDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("GetArticleCategories", "Article")',
                        type: "post",
                        dataType: "json"
                    },
                    update: {
                        url: '@Url.Action("CreateOrUpdateArticleCategories", "Article")',
                        type: "post",
                        dataType: "json"
                    },
                    destroy: {
                        url: '@Url.Action("DeleteArticleCategories", "Article")',
                        type: "post",
                        dataType: "json"
                    },
                    create: {
                        url: '@Url.Action("CreateOrUpdateArticleCategories", "Article")',
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models), page: options.page, pageSize: 6 };
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 6,
                schema: {
                    model: {
                        id: "ArticleCategoryID",
                        fields: {
                            ArticleCategoryID: { editable: false, nullable: true },
                            ArticleCategoryName: { type: "string" },
                            ArticleCategoryType: { defaultValue: "Introduction" },
                            Description: { type: "string" },
                            LanguageCode: { defaultValue: "vi-VN" }
                        }
                    }
                }
            });


            $("#pager").kendoPager({
                dataSource: articleCategoryDataSource
            });

            var listView = $("#listView").kendoListView({
                dataSource: articleCategoryDataSource,
                template: kendo.template($("#template").html()),
                editTemplate: kendo.template($("#editTemplate").html())
            }).data("kendoListView");

            $(".k-add-button").click(function (e) {
                listView.add();
                e.preventDefault();
            });
            //article grid
            var articleDataSource = new kendo.data.DataSource({
                pageSize: 20,
                transport: {
                    read: {
                        url: '@Url.Action("GetArticles", "Article")',
                        type: "post",
                        dataType: "json"
                    },
                    update: {
                        url: '@Url.Action("CreateOrUpdateArticles", "Article")',
                        type: "post",
                        dataType: "json"
                    },
                    destroy: {
                        url: '@Url.Action("DeleteArticles", "Article")',
                        type: "post",
                        dataType: "json"
                    },
                    create: {
                        url: '@Url.Action("CreateOrUpdateArticles", "Article")',
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                schema: {
                    model: {
                        id: "ArticleID",
                        fields: {
                            ArticleID: { editable: false, defaultValue: "@Guid.NewGuid()" },
                            Title: { validation: { required: true } },
                            Description: { type: "string" },
                            Author: { validation: { required: true } },
                            Content: { validation: { required: true } },
                            ImageUrl: { type: "string" },
                            OrderID: { type: "number" },
                            LanguageCode: { defaultValue: "vi-VN", template: "#= LanguageCode #" },
                            IsPublished: { type: "boolean" },
                            IsNew: { type: "boolean" },
                            ArticleCategoryIDs: { type: "string" }
                        }
                    }
                }
            });
            var grid = $("#grid").kendoGrid({
                dataSource: articleDataSource,
                //dataBound: articleDataBound,
                navigatable: true,
                pageable: true,
                height: 740,
                toolbar: ["create", "save", "cancel"],
                columns: [
                    { field: "Title", title: "Tiêu đề" },
                    { field: "Description", title: "Mô tả", width: "70px", hidden: true },
                    { field: "Author", title: "Tác giả", width: "70px" },
                    { field: "Content", title: "Nội dung", hidden: true },
                    { field: "ImageUrl", title: "ImageUrl", hidden: true },
                    { field: "OrderID", title: "Thứ tự", width: "70px" },
                    { field: "LanguageCode", title: "Ngôn ngữ", editor: languageDropDownEditor, width: "80px" },
                    { field: "IsPublished", title: "Online ?", width: "80px" },
                    { field: "IsNew", title: "Mới ?", width: "50px" },
                    { field: "ArticleCategoryIDs", title: "ArticleCategoryIDs", hidden: true },
                    { command: [{ text: "Nội dung", click: contentEditor }, "destroy"], title: " ", width: "180px" }],
                editable: true,
                sortable: true,
                filterable: true,
                resizable: true,
                saveChanges: function (e) {
                    console.log(e.sender);
                    for (var i = 0; i < e.sender._data.length; i++) {
                        if (e.sender._data[i].Title == "") {
                            alert("Bài viết chưa có tiêu đề, vui lòng nhập tiêu đề trước khi lưu!");
                            e.preventDefault();
                        }
                        else if (e.sender._data[i].Author == "") {
                            alert("Bài viết " + e.sender._data[i].Title + " chưa có tác giả, vui lòng nhập tác giả trước khi lưu!");
                            e.preventDefault();
                        }
                        else if (e.sender._data[i].Content == "") {
                            alert("Bài viết " + e.sender._data[i].Title + " chưa có nội dung, vui lòng nhập nội dung trước khi lưu!");
                            e.preventDefault();
                        }
                        else {
                            if (e.sender._data[i].ArticleCategoryIDs != null && e.sender._data[i].ArticleCategoryIDs.length != "" && typeof e.sender._data[i].ArticleCategoryIDs == "string") {
                                try {
                                    e.sender._data[i].ArticleCategoryIDs = e.sender._data[i].ArticleCategoryIDs.split(',');
                                } catch (ex) {
                                    var arr = [];
                                    arr.push(e.sender._data[i].ArticleCategoryIDs);
                                    e.sender._data[i].ArticleCategoryIDs = arr.toString();
                                }
                            }
                            e.sender._data[i].dirty = true;
                        }
                    }
                }
            });
            function languageDropDownEditor(container, options) {
                $('<input required data-text-field="Language" data-value-field="LanguageCode" data-bind="value:' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        dataSource:
                            [
                                { Language: "Tiếng Việt", LanguageCode: "vi-VN" },
                                { Language: "Tiếng Anh", LanguageCode: "en-US" },
                                { Language: "Tiếng Nga", LanguageCode: "ru-RU" }
                            ]
                    });
            }
            wnd = $("#article-content")
                        .kendoWindow({
                            title: "Nội dung",
                            actions: ["Tick", "Minimize", "Maximize", "Close"],
                            modal: true,
                            visible: false,
                            resizable: false,
                            width: 960
                        }).data("kendoWindow");

            detailsTemplate = kendo.template($("#wtemplate").html());

            wnd.wrapper.find(".k-i-tick").click(function (e) {
                onSaveContentWindow();
                e.preventDefault();
                wnd.close();
            });
            
            wnd.wrapper.find(".k-i-close").click(function (e) {
                e.preventDefault();
                wnd.refresh();
            });
            
            $(".k-grid-add").click(function (e) {
                grid.data("kendoGrid").dataSource.filter({});
                listView.dataSource.filter({});
            });
            
            function onSaveContentWindow() {
                var ceditor = $("#ceditor").data("kendoEditor");
                dataItem.Content = ceditor.value();
                console.log(dataItem.Content);
                dataItem.Description = $("#desc").val();
                var articlecategories = $("#articlecategories").data("kendoMultiSelect");
                $("#articlecategoryids").val(articlecategories.value());
                dataItem.ArticleCategoryIDs = articlecategories.value();
                console.log($("#mainfilename").val());
                if ($("#mainfilename").val() != null && $("#mainfilename").val() != "") {
                    dataItem.ImageUrl = dataItem.ImageUrl + "/" + $("#mainfilename").val();
                }
                wnd.refresh();
                $("#grid").data("kendoGrid").saveChanges();
            }

            var cDropDown = $("#category").kendoDropDownList({
                dataTextField: "ArticleCategoryType",
                dataValueField: "ArticleCategoryID",
                autoBind: false,
                optionLabel: "Tất cả",
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: '@Url.Action("GetArticleCategories", "Article")',
                            type: "post",
                            dataType: "json"
                        }
                    }
                },
                change: function () {
                    var value = this.value();
                    var text = this.text();
                    console.log(lDropDown.data("kendoDropDownList").value());
                    if (value) {
                        grid.data("kendoGrid").dataSource.filter({ "logic": "and", "filters": [{ field: "ArticleCategoryIDs", operator: "contains", value: value }] });
                        listView.dataSource.filter({ "logic": "and", "filters": [{ field: "ArticleCategoryType", operator: "eq", value: text }] });
                        if(lDropDown.data("kendoDropDownList").value())
                        {
                            grid.data("kendoGrid").dataSource._filter.filters.push({ field: "LanguageCode", operator: "eq", value: lDropDown.data("kendoDropDownList").value() });
                            grid.data("kendoGrid").dataSource.filter(grid.data("kendoGrid").dataSource._filter.filters);
                            listView.dataSource._filter.filters.push({ field: "LanguageCode", operator: "eq", value: lDropDown.data("kendoDropDownList").value() });
                            listView.dataSource.filter(listView.dataSource._filter.filters);
                        }
                    } else {
                        if (lDropDown.data("kendoDropDownList").value()) {
                            grid.data("kendoGrid").dataSource.filter({ field: "LanguageCode", operator: "eq", value: lDropDown.data("kendoDropDownList").value() });
                            listView.dataSource.filter({ field: "LanguageCode", operator: "eq", value: lDropDown.data("kendoDropDownList").value() });
                        }
                        else {
                            grid.data("kendoGrid").dataSource.filter({});
                            listView.dataSource.filter({});
                        }
                    }
                }
            });
            var lDropDown = $("#language").kendoDropDownList({
                dataTextField: "Language",
                dataValueField: "LanguageCode",
                autoBind: false,
                optionLabel: "Tất cả",
                dataSource: [
                                { Language: "Tiếng Việt", LanguageCode: "vi-VN" },
                                { Language: "Tiếng Anh", LanguageCode: "en-US" },
                                { Language: "Tiếng Nga", LanguageCode: "ru-RU" }
                ],
                change: function () {
                    var value = this.value();
                    if (value) {
                        grid.data("kendoGrid").dataSource.filter({ "logic": "and", "filters": [{ field: "LanguageCode", operator: "eq", value: value }] });
                        listView.dataSource.filter({ "logic": "and", "filters": [{ field: "LanguageCode", operator: "eq", value: value }] });
                        if ($("#category").data("kendoDropDownList").value())
                        {
                            grid.data("kendoGrid").dataSource._filter.filters.push({ field: "ArticleCategoryIDs", operator: "contains", value: $("#category").data("kendoDropDownList").value() });
                            grid.data("kendoGrid").dataSource.filter(grid.data("kendoGrid").dataSource._filter.filters);
                            listView.dataSource._filter.filters.push({ field: "ArticleCategoryType", operator: "eq", value: $("#category").data("kendoDropDownList").text() });
                            listView.dataSource.filter(listView.dataSource._filter.filters);
                        }
                    } else {
                        if ($("#category").data("kendoDropDownList").value()) {
                            grid.data("kendoGrid").dataSource.filter({ field: "ArticleCategoryIDs", operator: "contains", value: $("#category").data("kendoDropDownList").value() });
                            listView.dataSource.filter({ field: "ArticleCategoryType", operator: "eq", value: $("#category").data("kendoDropDownList").text() });
                        }
                        else {
                            grid.data("kendoGrid").dataSource.filter({});
                            listView.dataSource.filter({});
                            console.log(listView.dataSource);
                        }
                    }
                }
            });
        });

        
    function contentEditor(e) {
        e.preventDefault();
        dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        wnd.content(detailsTemplate(dataItem));
        var arrFiles = [];
        $("#uploadimage").kendoUpload({
            multiple: true,
            async: {
                saveUrl: "/Common/SaveImages?folder=Article"
                },
            success: function (e) {
                var ImageUrl = e.response.Folder;
                dataItem.ImageUrl = ImageUrl;
                $(".k-upload-files.k-reset").css("height", "100px");
                $(".k-upload-files.k-reset").css("overflow", "scroll");
            },
            select: onSelect
        });
        function onSelect(e) {
            $.map(e.files, function (file) {
                var info = file.name;
                var obj = { text: file.name, value: file.name };
                arrFiles.push(obj);
            }).join(",");
            $("#mainfilename").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: arrFiles,
                index: 0,
                select: onChangeMainFile
            });
        }
        function onChangeMainFile(e) {
            var dItem = this.dataItem(e.item.index());
            var url = dataItem.ImageUrl + "/" + dItem.value;
            var ext = dItem.value.split('.').pop();
            if (ext == "jpg" || ext == "jpeg" || ext == "gif" || "png") {
                $("#aimage").attr("src", "/Images/" + url);
            }
            $("#urlimage").val($('#aimage').prop('src'));
            $("#urlimage").show();
            console.log(dataItem.ImageUrl);
        }
            $("#uploadimage").closest(".k-upload").find("span").text("Chọn ảnh cho bài viết");
            $("#articlecategories").kendoMultiSelect({
                placeholder: "Chọn hạng mục cho bài viết...",
                dataTextField: "ArticleCategoryName",
                dataValueField: "ArticleCategoryID",
                dataSource: articleCategoryDataSource
            });
            var acmultiselect = $("#articlecategories").data("kendoMultiSelect");
            if (typeof dataItem.ArticleCategoryIDs == "string") {
                dataItem.ArticleCategoryIDs = dataItem.ArticleCategoryIDs.split(',');
            }
            acmultiselect.value(dataItem.ArticleCategoryIDs);
            $("#ceditor").kendoEditor({
                encoded: false,
                tools: [
                    "bold",
                    "italic",
                    "underline",
                    "strikethrough",
                    "fontName",
                    "fontSize",
                    "foreColor",
                    "backColor",
                    "justifyLeft",
                    "justifyCenter",
                    "justifyRight",
                    "justifyFull",
                    "insertUnorderedList",
                    "insertOrderedList",
                    "indent",
                    "outdent",
                    "formatBlock",
                    "createLink",
                    "unlink",
                    "insertImage",
                    "subscript",
                    "superscript",
                    "viewHtml"
                ]
            });
            //function onSaveContentWindow() {
            //    var ceditor = $("#ceditor").data("kendoEditor");
            //    dataItem.Content = $('<div/>').text(ceditor.value()).html();
            //    console.log(dataItem.Content);
            //    var articlecategories = $("#articlecategories").data("kendoMultiSelect");
            //    $("#articlecategoryids").val(articlecategories.value());
            //    dataItem.ArticleCategoryIDs = articlecategories.value();
            //    console.log($("#articlecategoryids").val());
            //}
        wnd.center().open();
    }
    //function openContentEditor(container, options) {
    //    $("<textarea id='contenteditor' rows='10' cols='30' style='width:100%;height:400px' data-bind='value:" + options.field + "></textarea>").appendTo(container)
    //    .kendoEditor({
    //        encoded: false,
    //        tools: [
    //            "bold",
    //            "italic",
    //            "underline",
    //            "strikethrough",
    //            "fontName",
    //            "fontSize",
    //            "foreColor",
    //            "backColor",
    //            "justifyLeft",
    //            "justifyCenter",
    //            "justifyRight",
    //            "justifyFull",
    //            "insertUnorderedList",
    //            "insertOrderedList",
    //            "indent",
    //            "outdent",
    //            "formatBlock",
    //            "createLink",
    //            "unlink",
    //            "insertImage",
    //            "subscript",
    //            "superscript",
    //            "viewHtml"
    //        ]
    //    });
    //}
    </script>

    <script>
        $(document).ready(function () {
            $("#vertical").kendoSplitter({
                orientation: "vertical",
                panes: [
                    { collapsible: false }
                ]
            });

            $("#horizontal").kendoSplitter({
                panes: [
                    { collapsible: true, size: "26%" },
                    { collapsible: true, size: "74%" }
                ]
            });
        });
    </script>

    <style scoped>
        #vertical
        {
            height: 800px;
            width: 100%;
            margin: 0 auto;
        }

        #middle-pane
        {
            background-color: rgba(60, 70, 80, 0.10);
        }

        #bottom-pane
        {
            background-color: rgba(60, 70, 80, 0.15);
        }

        #left-pane, #center-pane, #right-pane
        {
            background-color: rgba(60, 70, 80, 0.05);
        }

        .pane-content
        {
            padding: 0 10px;
        }

        .article-category-list
        {
            width: 100%;
        }

        .article-category-view
        {
            float: left;
            position: relative;
            width: 301px;
            margin: -1px -1px 0 0;
        }

            .article-category-view dl
            {
                margin: 10px 0;
                padding: 0;
                min-width: 0;
            }

            .article-category-view dt, dd
            {
                float: left;
                margin: 0;
                padding: 3px;
                height: 26px;
                width: 160px;
                line-height: 26px;
                overflow: hidden;
            }

            .article-category-view dt
            {
                clear: left;
                padding: 3px 5px 3px 0;
                text-align: right;
                opacity: 0.6;
                width: 100px;
            }

        .k-listview
        {
            border: 0;
            padding: 0;
            min-height: 740px;
        }

            .k-listview:after, .product-view dl:after
            {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }

        .edit-buttons
        {
            position: absolute;
            top: 0;
            right: 0;
            width: 26px;
            height: 146px;
            padding: 2px 2px 0 3px;
            background-color: rgba(0,0,0,0.1);
        }

            .edit-buttons .k-button
            {
                width: 26px;
                margin-bottom: 1px;
            }

        .k-pager-wrap
        {
            border-top: 0;
        }

        span.k-invalid-msg
        {
            position: absolute;
            margin-left: 6px;
        }
        .k-editor
        {
            width: 100% !important;
        }
        #article-content .k-upload
        {
            float: left;
            width: 100%;     
            margin-right: 5px;
        }
        #article-content img
        {
            float: left;
            max-width: 100px;
            max-height: 100px;
            margin: 5px 0;
        }
        #article-content .articlecategoryspan
        {
            float: left;
            margin-right: 5px;
            width: 100%;
        }
        #article-content .k-multiselect
        {
            float: left;
            width: 98%;
            margin: 5px 0;
        }
        #article-content label
        {
            float: left;
            margin: 5px;
        }
        #article-content .k-upload-button
        {
            width: 100%;
        }
        #article-content .k-upload-files .k-reset
        {
            display: none;
        }
    </style>
</div>
