@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="example" class="k-content">
    <div id="vertical">
        <div id="top-pane">
            <div id="horizontal" style="height: 100%; width: 100%;">
                <div id="left-pane">
                    <div class="pane-content">
                        <div class="room-category-list">
                            <a class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span></a>
                        </div>

                        <div class="room-category-list">
                            <div id="listView"></div>
                            <div id="pager" class="k-pager-wrap"></div>
                        </div>
                    </div>
                </div>
                <div id="right-pane">
                    <div class="pane-content">
                        <div id="room-type">
                        </div>
                        <div id="grid"></div>
                        <input type="hidden" id="roomtypeids" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/x-kendo-tmpl" id="template">
        <div class="room-category-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
                <a class="k-button k-button-icontext k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
            </div>
            <dl>
                <dt>Tên loại phòng</dt>
                <dd>#:RoomTypeName#</dd>
                <dt>Nhóm phòng</dt>
                <dd>#:RoomGroup#</dd>
                <dt>Mô tả</dt>
                <dd>#:Description#</dd>
                <dt>Công khai ?</dt>
                <dd>#:IsPublished#</dd>
                <dt>Mới ?</dt>
                <dd>#:IsNew#</dd>
                <dt>Khuyến mãi ?</dt>
                <dd>#:IsDeal#</dd>
            </dl>
        </div>
    </script>

    <script type="text/x-kendo-tmpl" id="editTemplate">
        <div class="room-category-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-update-button" href="\\#"><span class="k-icon k-update"></span></a>
                <a class="k-button k-button-icontext k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span></a>
            </div>
            <dl>
                <input type="hidden" data-bind="value:RoomTypeID" name="RoomTypeID"/>
                <dt>Tên loại phòng</dt>
                <dd>
                    <input type="text" class="k-textbox" data-bind="value:RoomTypeName" name="RoomTypeName" required="required" validationMessage="không được trống" />
                    <span data-for="RoomTypeName" class="k-invalid-msg"></span>
                </dd>
                <dt>Nhóm phòng</dt>
                <dd>
                    <select data-role="dropdownlist" data-bind="value:RoomGroup" name="RoomGroup" required="required" validationMessage="không được trống">
                       <option value="Room">Phòng nghỉ</option>
                       <option value="Meeting Room">Phòng họp</option>
                        <option value="Restaurant">Nhà hàng</option>
                    </select>
                    <span data-for="RoomGroup" class="k-invalid-msg"></span>
                </dd>
                <dt>Mô tả</dt>
                <dd>
                    <input type="text" class="k-textbox" data-bind="value:Description" name="Description"/>
                </dd>
                <dt>Công khai ?</dt>
                <dd>
                    <input type="checkbox" data-bind="checked:IsPublished" name="IsPublished"/>
                </dd>
                <dt>Mới ?</dt>
                <dd>
                    <input type="checkbox" data-bind="checked:IsNew" name="IsNew"/>
                </dd>
                <dt>Khuyến mãi</dt>
                <dd>
                    <input type="checkbox" data-bind="checked:IsDeal" name="IsDeal"/>
                </dd>
            </dl>
        </div>
    </script>

    <script type="text/x-kendo-template" id="wtemplate">                       
        <div style="float:left; width: 100%"><label style="margin-left:240px">Ảnh chính: </label><input type="text" style="display: none" name="mainfilename" id="mainfilename"/></div>
        <input type="file" id="uploadimage" name="files"/>
        <img src="/Images/#= ImageUrl #" id="aimage" alt="#= ImageUrl #"/>
        <span class="roomtypespan"><label>Loại phòng:</label> <select id="roomtypes"></select></span>
        <div id="detailgrid"></div>
    </script>

    <script>
        var wnd, dataItem, roomCategoryDataSource;
        $(document).ready(function () {
            //room category list view
            roomCategoryDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("GetRoomTypes", "Room")',
                        type: "post",
                        dataType: "json"
                    },
                    update: {
                        url: '@Url.Action("CreateOrUpdateRoomTypes", "Room")',
                        type: "post",
                        dataType: "json"
                    },
                    destroy: {
                        url: '@Url.Action("DeleteRoomTypes", "Room")',
                        type: "post",
                        dataType: "json"
                    },
                    create: {
                        url: '@Url.Action("CreateOrUpdateRoomTypes", "Room")',
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models), page: options.page, pageSize: 6 };
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 6,
                schema: {
                    model: {
                        id: "RoomTypeID",
                        fields: {
                            RoomTypeID: { editable: false, nullable: true },
                            RoomTypeName: { type: "string" },
                            RoomGroup: { type: "string" },
                            Description: { type: "string" },
                            IsPublished: { type: "boolean" },
                            IsNew: { type: "boolean" },
                            IsDeal: { type: "boolean" }
                        }
                    }
                }
            });


            $("#pager").kendoPager({
                dataSource: roomCategoryDataSource
            });

            var listView = $("#listView").kendoListView({
                dataSource: roomCategoryDataSource,
                template: kendo.template($("#template").html()),
                editTemplate: kendo.template($("#editTemplate").html())
            }).data("kendoListView");

            $(".k-add-button").click(function (e) {
                listView.add();
                e.preventDefault();
            });
            //room grid
            var roomDataSource = new kendo.data.DataSource({
                pageSize: 20,
                transport: {
                    read: {
                        url: '@Url.Action("GetRooms", "Room")',
                        type: "post",
                        dataType: "json"
                    },
                    update: {
                        url: '@Url.Action("CreateOrUpdateRooms", "Room")',
                        type: "post",
                        dataType: "json"
                    },
                    destroy: {
                        url: '@Url.Action("DeleteRooms", "Room")',
                        type: "post",
                        dataType: "json"
                    },
                    create: {
                        url: '@Url.Action("CreateOrUpdateRooms", "Room")',
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                schema: {
                    model: {
                        id: "RoomID",
                        fields: {
                            RoomID: { editable: false, nullable: true },
                            RoomName: { validation: { required: true } },
                            Description: { type: "string" },
                            Quantity: { type: "number" },
                            BookedFrom: { type: "datetime", nullable: true },
                            BookedTo: { type: "datetime", nullable: true },
                            IsPublished: { type: "boolean" },
                            IsNew: { type: "boolean" },
                            IsDeal: { type: "boolean" },
                            ImageUrl: { type: "string" },
                            OrderID: { type: "number" },
                            //Article: { defaultValue: { ArticleID: '@Guid.Empty', Title: "Chọn bài viết" } },
                            RoomTypeIDs: { type: "string" }
                        }
                    }
                }
            });
            $("#grid").kendoGrid({
                dataSource: roomDataSource,
                pageable: true,
                height: 740,
                toolbar: ["create", "save", "cancel"],
                columns: [
                    { field: "RoomName", title: "Tên phòng" },
                    { field: "Description", title: "Mô tả" },
                    { field: "Quantity", title: "Số lượng" },
                    { field: "ImageUrl", title: "ImageUrl", hidden: true },
                    { field: "OrderID", title: "Thứ tự" },
                    { field: "BookedFrom", title: "Đặt từ", format: "{0:yyyy-MM-dd HH:mm}", editor: dateTimeEditor, hidden: true },
                    { field: "BookedTo", title: "Đặt đến", format: "{0:yyyy-MM-dd HH:mm}", editor: dateTimeEditor, hidden: true },
                    { field: "IsDeal", title: "Khuyến mãi ?" },
                    { field: "IsPublished", title: "Công bố ?" },
                    { field: "IsNew", title: "Mới ?" },
                   // { field: "Article", title: "Bài viết", editor: articleDropDownEditor, template: "#= Article.Title #" },
                    { command: [{ text: "Chi tiết", click: roomDetails }, "destroy"], title: " " }],
                editable: true
            });

            wnd = $("#room-type")
                        .kendoWindow({
                            title: "Chi tiết",
                            actions: ["Tick", "Minimize", "Maximize", "Close"],
                            modal: true,
                            visible: false,
                            resizable: false,
                            width: 800
                        }).data("kendoWindow");

            detailsTemplate = kendo.template($("#wtemplate").html());

            wnd.wrapper.find(".k-i-tick").click(function (e) {
                onSaveDetailsWindow();
                e.preventDefault();
                wnd.close();
            });

            function onSaveDetailsWindow() {
                var roomtypes = $("#roomtypes").data("kendoMultiSelect");
                $("#roomtypes").val(roomtypes.value());
                dataItem.RoomTypeIDs = roomtypes.value();
                console.log(dataItem.toJSON());
                if ($("#mainfilename").val() != null || $("#mainfilename").val() != "") {
                    dataItem.ImageUrl = dataItem.ImageUrl + "/" + $("#mainfilename").val();
                }
                wnd.refresh();
                $.ajax({
                    url: '@Url.Action("CreateOrUpdateRooms", "Room")',
                    type: 'POST',
                    traditional: true,
                    dataType: "json",
                    contentType: "application/json",
                    data: kendo.stringify({
                        models: "[" + kendo.stringify(dataItem) + "]"
                    }),
                    success: function () { $("#grid").data("kendoGrid").dataSource.read(); }
        });
            }
            function dateTimeEditor(container, options) {
                $('<input data-text-field="' + options.field + '" data-value-field="' + options.field + '" data-bind="value:' + options.field + '" data-format="' + options.format + '"/>')
                        .appendTo(container)
                        .kendoDateTimePicker({});
            }
            @*function articleDropDownEditor(container, options) {
                $('<input required data-text-field="Title" data-value-field="ArticleID" data-bind="value:' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        dataSource: {
                            transport: {
                                read: {
                                    url: '@Url.Action("GetArticles", "Article")',
                                    type: "post",
                                    dataType: "json"
                                }
                            }
                        }
                    });
            }*@
        });
        function roomDetails(e) {
            e.preventDefault();
            dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            wnd.content(detailsTemplate(dataItem));
            var arrFiles = [];
            $("#uploadimage").kendoUpload({
                multiple: true,
                async: {
                    saveUrl: "/Common/SaveImages?folder=Room/" + dataItem.RoomID
                },
                success: function (e) {
                    var ImageUrl = e.response.Folder;
                    dataItem.ImageUrl = ImageUrl;
                },
                select: onSelect
            });
            function onSelect(e) {
                $.map(e.files, function (file) {
                    var info = file.name;
                    var obj = { text: file.name, value: file.name };
                    arrFiles.push(obj);
                }).join(",");
                $("#mainfilename").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: arrFiles,
                    index: 0,
                    change: onChangeMainFile
                });
            }
            function onChangeMainFile(e) 
            {
                var url = dataItem.ImageUrl + "/" + $("#mainfilename").val();
                var ext = $("#mainfilename").val().split('.').pop();
                if (ext == "jpg" || ext == "jpeg" || ext == "gif" || "png") {
                    $("#aimage").attr("src", "/Images/" + url);
                }
                console.log(dataItem.ImageUrl);
            }
            $("#uploadimage").closest(".k-upload").find("span").text("Chọn ảnh");
            $("#roomtypes").kendoMultiSelect({
                dataTextField: "RoomTypeName",
                dataValueField: "RoomTypeID",
                dataSource: {
                    transport: {
                        read: {
                            url: '@Url.Action("GetRoomTypes", "Room")',
                            type: "post",
                            dataType: "json"
                        }
                    }
                }
            });
            var rtmultiselect = $("#roomtypes").data("kendoMultiSelect");
            console.log(dataItem.RoomTypeIDs.split(","));
            rtmultiselect.value(dataItem.RoomTypeIDs.split(","));
            var rID = dataItem.RoomID;
            if (rID != null) {
                //room property
                var roomPropertyDataSource = new kendo.data.DataSource({
                    pageSize: 20,
                    transport: {
                        read: {
                            url: '/Room/GetRoomPropertys?rID=' + rID,
                            type: "post",
                            dataType: "json"
                        },
                        update: {
                            url: '@Url.Action("CreateOrUpdateRoomPropertys", "Room")',
                            type: "post",
                            dataType: "json"
                        },
                        destroy: {
                            url: '@Url.Action("DeleteRoomPropertys", "Room")',
                            type: "post",
                            dataType: "json"
                        },
                        create: {
                            url: '@Url.Action("CreateOrUpdateRoomPropertys", "Room")',
                            type: "post",
                            dataType: "json"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    batch: true,
                    schema: {
                        model: {
                            id: "RoomPropertyID",
                            fields: {
                                RoomPropertyID: { editable: false, nullable: true },
                                RoomPropertyName: { validation: { required: true } },
                                RoomPropertyStringValue: { type: "string" },
                                RoomPropertyNumberValue: { type: "number" },
                                Unit: { type: "string" },
                                OrderID: { type: "number" },
                                IsPublished: { type: "boolean" },
                                IsNew: { type: "boolean" },
                                RoomPropertyType: { defaultValue: 0, template: "#= RoomPropertyType #" },
                                RoomID: { defaultValue: rID }
                            }
                        }
                    }
                });
                $("#detailgrid").kendoGrid({
                    dataSource: roomPropertyDataSource,
                    pageable: true,
                    height: 740,
                    toolbar: ["create", "save", "cancel"],
                    columns: [
                        { field: "RoomPropertyName", title: "Tên thuộc tính" },
                        { field: "RoomPropertyStringValue", title: "Giá trị chuỗi" },
                        { field: "RoomPropertyNumberValue", title: "Giá trị số" },
                        { field: "Unit", title: "Đơn vị" },
                        { field: "OrderID", title: "Thứ tự" },
                        { field: "IsPublished", title: "Công bố ?" },
                        { field: "IsNew", title: "Mới ?" },
                        { field: "RoomPropertyType", title: "Loại thuộc tính", editor: roomPropertyTypeDropDownEditor },
                        { command: ["destroy"], title: " " }],
                    editable: true
                });
            }
            function roomPropertyTypeDropDownEditor(container, options) {
                $('<input required data-text-field="TypeName" data-value-field="RoomPropertyType" data-bind="value:' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        dataSource:
                            [
                                { TypeName: "Giá", RoomPropertyType: "Price" },
                                { TypeName: "Chi tiết", RoomPropertyType: "Detail" },
                                { TypeName: "Thuộc tính", RoomPropertyType: "Property" }
                            ]
                    });
            }
            wnd.center().open();
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#vertical").kendoSplitter({
                orientation: "vertical",
                panes: [
                    { collapsible: false }
                ]
            });

            $("#horizontal").kendoSplitter({
                panes: [
                    { collapsible: true, size: "26%" },
                    { collapsible: true, size: "74%" }
                ]
            });
        });
    </script>

    <style scoped>
        #vertical
        {
            height: 800px;
            width: 100%;
            margin: 0 auto;
        }

        #middle-pane
        {
            background-color: rgba(60, 70, 80, 0.10);
        }

        #bottom-pane
        {
            background-color: rgba(60, 70, 80, 0.15);
        }

        #left-pane, #center-pane, #right-pane
        {
            background-color: rgba(60, 70, 80, 0.05);
        }

        .pane-content
        {
            padding: 0 10px;
        }

        .room-category-list
        {
            width: 100%;
        }

        .room-category-view
        {
            float: left;
            position: relative;
            width: 301px;
            margin: -1px -1px 0 0;
        }

            .room-category-view dl
            {
                margin: 10px 0;
                padding: 0;
                min-width: 0;
            }

            .room-category-view dt, dd
            {
                float: left;
                margin: 0;
                padding: 3px;
                height: 26px;
                width: 160px;
                line-height: 26px;
                overflow: hidden;
            }

            .room-category-view dt
            {
                clear: left;
                padding: 3px 5px 3px 0;
                text-align: right;
                opacity: 0.6;
                width: 100px;
            }

        .k-listview
        {
            border: 0;
            padding: 0;
            min-height: 740px;
        }

            .k-listview:after, .product-view dl:after
            {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }

        .edit-buttons
        {
            position: absolute;
            top: 0;
            right: 0;
            width: 26px;
            height: 146px;
            padding: 2px 2px 0 3px;
            background-color: rgba(0,0,0,0.1);
        }

            .edit-buttons .k-button
            {
                width: 26px;
                margin-bottom: 1px;
            }

        .k-pager-wrap
        {
            border-top: 0;
        }

        span.k-invalid-msg
        {
            position: absolute;
            margin-left: 6px;
        }

        .k-editor
        {
            width: 100% !important;
        }

        #room-type .k-upload
        {
            float: left;
            width: 30%;
            margin-right: 5px;
        }

        #room-type img
        {
            float: left;
            max-width: 65%;
            max-height: 220px;
            margin: 5px 0;
        }

        #room-type .roomtypespan
        {
            float: left;
            margin-right: 5px;
            width: 100%;
        }

        #room-type .k-multiselect
        {
            float: left;
            width: 89%;
            margin: 5px 0;
        }

        #room-type label
        {
            float: left;
            width: 10%;
            margin: 5px 0;
        }

        #room-type .k-upload-button
        {
            width: 100%;
        }

        #detailgrid
        {
            width: 100%;
            float: left;
        }
    </style>
</div>
